<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>www_sms</display-name>
  
  <context-param>  
      <param-name>contextConfigLocation</param-name>  
      <param-value>WEB-INF/beans.xml</param-value>  
  </context-param>  
    
  <listener>  
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>  
  
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.cxf.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>  
      <servlet-name>CXFServlet</servlet-name>  
      <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
      <servlet-name>CXFServlet</servlet-name>  
      <url-pattern>/webservice/*</url-pattern>  
  </servlet-mapping> 
  
  <filter>
  	<filter-name>TestFilter</filter-name>
  	<filter-class>com.cxf.filter.URLFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TestFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>