/*common*/
body{background-color: #BEBEBE;font-family: "Î¢ÈíÑÅºÚ","ËÎÌå",Arial,sans-serif;}
.allDiv{position: absolute;top: 0px;left: 0px;width: 100%;}
.titleDiv{width: 100%;height: 23px;line-height: 23px;background: -webkit-gradient(linear, left top, left bottom, from(#8E8E8E), color-stop(0.5, #E0E0E0), to(#ADADAD));}
.userSpan{margin-right: 30px;}
.radiusNomal{border-radius:10px;}
.radiusSmall{border-radius:7px;}
.grayA{color: #666;}
.hideDiv{display: none;}
.indexGTDiv{position: absolute;left: 0px;top: 0px;background-color: #000000;filter: alpha(opacity=20);opacity: 0.2;overflow: hidden;z-index: 10;}
.overDiv{width: 400px;height: 300px;background-color: white;z-index: 1000;position: fixed;}

/*top*/
.topDiv{width: 886px;height: 100px;line-height: 100px;margin-top: 20px;background-image: url("../img/efang.jpg");cursor: help;}
.topSpan{color: blue;font-size: 63px;font-weight: bold;}

/*middle*/
.mainDivAll{width: 70%;height: 600px;background-color: #9D9D9D;margin-top: 20px;}
.leftDiv{width: 14%;background-color: #A6FFFF;height: 560px;float: left;margin-top: 20px;margin-left: 20px;}
.mainDiv{width: 81%;background-color: #84C1FF;height: 560px;float: left;margin: 20px 10px 20px 0px;}
.mainIframe{width: 100%;height: 560px;border-style: none;}
.leftTreeDiv{background-color: #00FFFF;border-bottom: 1px solid black;margin-top: 30px;cursor: pointer;}
.menuA{text-decoration: none;}
.leftMenu{margin-top: 20px;background-color: white;height: 40px;cursor: pointer;border-left: 1px solid black;
border-top: 1px solid black;border-bottom: 1px solid black;text-align: center;line-height: 40px;}

/*bottom*/
.bottomDiv{margin-top: 30px;margin-bottom: 30px;}
.bottomSpan{font-size: 13px;color: #666;text-decoration: none;}
.tipDiv{width: 270px;height: 180px;position: fixed;bottom: 23px;right: 0px;background-color: #CAFFFF;z-index: 1000;}
.tipTitleDiv{text-align: left;width: 270px;height: 40px;background: -webkit-gradient(linear, left top, left bottom, from(#4DFFFF), color-stop(0.5, #A6FFFF), to(#CAFFFF));}
.tipTitleSpan{padding: 1px 0px 1px 10px;font-size: 13px;font-weight: bold;}
.tipContentDiv{width: 270px;height: 110px;font-size: 13px;color: blue;text-align: left;}
.closeSpan{width: 20px;height: 15px;line-height: 15px;cursor: pointer;font-size: 16px;font-weight: bold;display:inline-block;text-align: center;color: white;float: right;margin-right: 5px;
background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), color-stop(0.5, #FF5151), to(#FF9797));}
.detailLabel{font-size: 13px;text-decoration: none;color: blue;cursor: pointer;margin-right: 20px;}
.lastDiv{width: 100%;position: fixed;height: 23px;background-color: black;opacity: 0.6;bottom: 0px;left: 0px;right: 0px;text-align: right;}
.lastClickDiv{margin-right: 5px;cursor: pointer;}

/*left right*/
.advertisementTopDiv{width: 127px;height: 28px;background-color: #BEBEBE;float: left;position: absolute;left: 20px;top: 23px;cursor: pointer;}
.advertisementDiv{width: 127px;height: 400px;background-color: pink;float: left;position: absolute;left: 20px;top: 50px;}
.advertisementMainDiv{height: 386px;}
.advertisementFontDiv{font-size: 14px;cursor: pointer;width: 100%;
background: -webkit-gradient(linear, left top, left bottom, from(#8E8E8E), color-stop(0.2, #ADADAD), color-stop(0.5, #E0E0E0), color-stop(0.8, #ADADAD), to(#9D9D9D));}
.toolsDiv{width: 160px;height: 175px;background-color: #BEBEBE;position: fixed;top: 50px;right: 20px;}
.toolsTipsDiv{width: 160px;height: 10px;position: fixed;top: 210px;right: 20px;display: none;text-align: right;font-size: 11px;}